<!DOCTYPE html >

<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}" >
    <head>
        {{ partial "head.html" . }}

    </head>
    <body id="page-top">
        
    <div class="gooey">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
        {{ if or .Site.Params.navigation.links.about .Site.Params.navigation.links.work .Site.Params.navigation.links.services .Site.Params.navigation.links.portfolio .Site.Params.navigation.links.contact }}
            {{ partial "nav.html" . }}
        {{ end }}

        {{ if .Site.Params.hero }}
            {{ partial "hero.html" . }}
        {{ end }}

        {{ if .Site.Params.about }}
            {{ partial "about.html" . }}
        {{ end }}

        {{ if .Site.Params.work }}
            {{ partial "work.html" . }}
        {{ end }}

        {{ if .Site.Params.services.list }}
            {{ partial "services.html" . }}
        {{ end }}

        {{ if .Site.Data.projects }}
            {{ partial "portfolio.html" . }}
        {{ end }}

        {{ if .Site.Params.location }}
            {{ partial "location.html" . }}
        {{ end }}

        {{ if .Site.Params.contact }}
            {{ partial "contact.html" . }}
        {{ end }}

        {{ if .Site.Data.projects }}
            {{ partial "modals.html" . }}
        {{ end }}

        {{ partial "js.html" . }}

        {{ template "_internal/google_analytics.html" . }}

        <footer></footer>

    </body>
</html>
